---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout>
  <!-- FULL-BLEED HERO -->
  <section class="hero hero-home">
    <div class="hero-content">
      <h1>
        SCREENS THAT SPEAK.<br />
        <br />
        GRAPHICS THAT INSPIRE.
      </h1>
      <p>
        <strong>Sherlock Digital Media</strong> creates motion-driven visual
        experiences for television, live events, and concert tours. Led by
        Michael Sherlock, a designer and screens producer with over 15 years
        of experience, the studio blends creativity and technical precision
        to bring stories to life on screen.
      </p>
    </div>
  </section>

  <!-- CONSTRAINED CONTENT -->
  <main>
    <section>
      <div class="section-inner work">
        <ProjectCard
          title="SDM Promo Reel 2025"
          description="Projects spanning motion design and live events"
          image="/images/SDM_PromoReel_2025_Still.png"
          link="/work/project-one"
        />

        <ProjectCard
          title="Tony Awards 2025"
          description="3D Set Design and performance graphics"
          image="/images/TonyAwards2025.webp"
          link="/work/project-two"
        />

        <ProjectCard
          title="The Grand Ole Opry 100th Anniversary"
          description="3D Set Design and Performance Graphics"
          image="/images/Opry100_1.jpg"
          link="/work/project-three"
        />

        <ProjectCard
          title="The Golden Globe Awards 2025"
          description="Winner Screens Graphics"
          image="/images/gg1.jpg"
          link="/work/project-four"
        />
      </div>
    </section>
  </main>
</BaseLayout>
